
Academic/Course Handouts/course-handouts.aux
Academic/Course Handouts/course-handouts.log
Academic/Course Handouts/course-handouts.out
Academic/Course Handouts/course-handouts.pdf
Academic/Course Handouts/dsa_plan.pdf
*.out
*.log
*.aux
*.pdf
*.bbl
*.blg
*.idx
*.ilg
*.gz
*.ind
*.key
*.kaux
*.diagnose
*.toc
